<header ng-switch on="$location.path().indexOf('/Addresses/new') > -1">
    <h3 ng-switch-when="true">Create a new Address</h3>
    <h3 ng-switch-when="false">View or edit Address</h3>
</header>
<form id="AddressForm" name="AddressForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': AddressForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" class="form-control" ng-model="address.name" placeholder="Enter the Address Name"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.number.$invalid}">
        <label for="number" class="col-sm-2 control-label">Number</label>
        <div id="numberControls" class="col-sm-10">
            <input id="number" name="number" type="text" class="form-control" ng-model="address.number" placeholder="Enter the Address Number"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.extra.$invalid}">
        <label for="extra" class="col-sm-2 control-label">Extra</label>
        <div id="extraControls" class="col-sm-10">
            <input id="extra" name="extra" type="text" class="form-control" ng-model="address.extra" placeholder="Enter the Address Extra"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.coordx.$invalid}">
        <label for="coordx" class="col-sm-2 control-label">Coordx</label>
        <div id="coordxControls" class="col-sm-10">
            <input id="coordx" name="coordx" type="number" class="form-control" ng-model="address.coordx" placeholder="Enter the Address Coordx"></input>
            <span class="help-block error" ng-show="AddressForm.coordx.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.coordy.$invalid}">
        <label for="coordy" class="col-sm-2 control-label">Coordy</label>
        <div id="coordyControls" class="col-sm-10">
            <input id="coordy" name="coordy" type="number" class="form-control" ng-model="address.coordy" placeholder="Enter the Address Coordy"></input>
            <span class="help-block error" ng-show="AddressForm.coordy.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.postalCode.$invalid}">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div id="postalCodeControls" class="col-sm-10">
            <input id="postalCode" name="postalCode" type="text" class="form-control" ng-model="address.postalCode" placeholder="Enter the Address Postal Code"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.city.$invalid}">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div id="cityControls" class="col-sm-10">
            <input id="city" name="city" type="text" class="form-control" ng-model="address.city" placeholder="Enter the Address City"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.state.$invalid}">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div id="stateControls" class="col-sm-10">
            <input id="state" name="state" type="text" class="form-control" ng-model="address.state" placeholder="Enter the Address State"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.featureId.$invalid}">
        <label for="featureId" class="col-sm-2 control-label">Feature Id</label>
        <div id="featureIdControls" class="col-sm-10">
            <input id="featureId" name="featureId" type="text" class="form-control" ng-model="address.featureId" placeholder="Enter the Address Feature Id"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AddressForm.neighborhood.$invalid}">
        <label for="neighborhood" class="col-sm-2 control-label">Neighborhood</label>
        <div id="neighborhoodControls" class="col-sm-10">
            <input id="neighborhood" name="neighborhood" type="text" class="form-control" ng-model="address.neighborhood" placeholder="Enter the Address Neighborhood"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAddress" name="saveAddress" class="btn btn-primary" ng-disabled="isClean() || AddressForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAddress" name="deleteAddress" class="btn btn-danger" ng-show="address.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>