<div class="form-horizontal">
    <h3>Create a new Address</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Addresses/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Addresses</h3>
    <form id="AddressSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Address Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Number</label>
        <div class="col-sm-10">
            <input id="number" name="number" class="form-control" type="text" ng-model="search.number" placeholder="Enter the Address Number"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="extra" class="col-sm-2 control-label">Extra</label>
        <div class="col-sm-10">
            <input id="extra" name="extra" class="form-control" type="text" ng-model="search.extra" placeholder="Enter the Address Extra"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="coordx" class="col-sm-2 control-label">Coordx</label>
        <div class="col-sm-10">
            <input id="coordx" name="coordx" class="form-control" type="text" ng-model="search.coordx" placeholder="Enter the Address Coordx"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="coordy" class="col-sm-2 control-label">Coordy</label>
        <div class="col-sm-10">
            <input id="coordy" name="coordy" class="form-control" type="text" ng-model="search.coordy" placeholder="Enter the Address Coordy"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="postalCode" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-10">
            <input id="postalCode" name="postalCode" class="form-control" type="text" ng-model="search.postalCode" placeholder="Enter the Address Postal Code"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input id="city" name="city" class="form-control" type="text" ng-model="search.city" placeholder="Enter the Address City"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div class="col-sm-10">
            <input id="state" name="state" class="form-control" type="text" ng-model="search.state" placeholder="Enter the Address State"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="featureId" class="col-sm-2 control-label">Feature Id</label>
        <div class="col-sm-10">
            <input id="featureId" name="featureId" class="form-control" type="text" ng-model="search.featureId" placeholder="Enter the Address Feature Id"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="neighborhood" class="col-sm-2 control-label">Neighborhood</label>
        <div class="col-sm-10">
            <input id="neighborhood" name="neighborhood" class="form-control" type="text" ng-model="search.neighborhood" placeholder="Enter the Address Neighborhood"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Extra</th>
                    <th>Coordx</th>
                    <th>Coordy</th>
                    <th>Postal Code</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Feature Id</th>
                    <th>Neighborhood</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.number}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.extra}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.coordx}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.coordy}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.postalCode}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.city}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.state}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.featureId}}</a></td>
                    <td><a href="#/Addresses/edit/{{result.id}}">{{result.neighborhood}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>